body {
    display: flex;
    justify-content: center;
    color: #1d7874;
    background-color: #e8cbb4;
}

form {
    margin-top: 5%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    border: 3px solid #1d7874;
    border-radius: 10px;
    padding: 20px;
    color: #044f4b;
}

a {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #87a69f;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

    a:hover {
        background-color: #1d7874;
    }

a {
    color: #e2d2c5;
}

.gridview td, .gridview th{
    padding: 10px;
}

.gridview a {
    padding: 5px;
}

